html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #006F77;
}

.container {
    flex: 1; 
}

.row {
    display: flex;
    flex-wrap: wrap; 
}

.list-group-item { /*Text dalam list Home,about,dll*/
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #ffc107;
    border-color: #00000059;
}


.list-group-item.active { /* Dashboard */
    background-color: rgba(0, 0, 0, 0.35); /* #00000059 in hex with alpha */
    border: none
}

.logo {
    width: 150px;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
}


.navbar-toggler .fas {
    color: #ffffff; 
}

/* Ensure no outline is shown when toggler is clicked */
.navbar-toggler:focus, 
.navbar-toggler:active {
    border-color: #ffffff !important;  /* Yellow border */
    box-shadow: none !important;        /* Remove the default box-shadow focus effect */
}

/* Change icon color inside the toggler */
.navbar-toggler i {
    color: white; /* Set the icon color to white */
}


.navbar-nav .nav-link {
    color: #bbbbbb;
}

.navbar-nav .nav-link.active {
    color: #ffffff; 
}

.navbar-nav .nav-link:hover {
    color: #ffffff; 
}

.navbar-name {
    font-size: 24px;
    font-weight: bold;
    color: #d30000;
}


@media (max-width: 768px) {
    .logo {
        width: 30px;
        margin-right: 5px;
    }
    .navbar-name {
        font-size: 1.2rem;
    }
}

.hero-section {
    color: white;
    background-color: #00000059;
    padding: 50px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero-section .lead {
    font-size: 1.25rem;
    color: #f7f7f7;
}


.cta-buttons {
    margin-top: 30px;
}

.cta-buttons .btn {
    margin: 10px;
    padding: 15px 30px;
    font-size: 1.1rem;
    font-weight: bold;
}

.cta-buttons .btn-primary {
    background-color: #b9b9b93d;
    border-color: #b9b9b9;
}

.cta-buttons .btn-primary:hover {
    background-color: #b9b9b93d;
    border-color: #b9b9b93d;
}

.cta-buttons .btn-secondary {
    background-color: #b9b9b93d;
    border-color: #b9b9b9;
}

.cta-buttons .btn-secondary:hover {
    background-color: #b9b9b93d;
    border-color: #b9b9b93d;
}

.card {
    border: none;            
    background-color: transparent; 
    box-shadow: none;        
}

.card-body {
    background-color: #014f55; 
    border: none;              
    border-radius: 10px;        
    padding: 1.5rem;           
}

.card-title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 1.1rem;
    color: #f1f1f1;
    margin-bottom: 0.5rem;
}

p {
    color: white;
}

footer {
    margin-top: auto;
    background-color: #00000059;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}

